bla {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.connected-data-block {
  background-color: lightblue;
}

.block-container .data-content span {
  white-space: break-spaces;
}

.formatted-value {
  overflow: hidden;
}

.formatted-value.collapsed {
  display: inline-block;
  max-height: 180px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(transparent)
  );
}

button.readmore-button {
  padding: 0;
  border: none;
  margin-top: 1rem;
  background-color: transparent;
  cursor: pointer;
}
