.connected-data-block {
  background-color: lightblue;
}

.block-container .data-content span {
  white-space: break-spaces;
}

#sidebar-properties .accordion .ui.menu {
  flex-wrap: wrap;
}

#sidebar-properties .accordion .ui.menu .active.item {
  border: 1px solid #d4d4d5;
  border-radius: 0.28rem !important;
}
