.inline-data-entity {
  /* display: inline-block; */
  /* background-color: #eff9ff; */
  /* padding: 3px; */
  /* border: 1px solid teal; */
  /* border-radius: 8px; */
}

.inline-data-entity-text {
  /* background-color: white; */
}


bla {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.connected-data-block {
  background-color: lightblue;
  /* width: 200px; */
  /* height: 20px; */
}
